.dis-tab-sec {
    padding-bottom: 40px;
    max-width: 1255px;
    margin: 0 auto;
}

.dis-tab-sec .container {
    width: 100% !important
}

.dis-cat-items {
    display: flex;
    gap: 4px;
}

.dis-course-card {
    padding: 5px 5px 15px 5px;
    background-color: #FFFFFF;
    border: 1px solid #EDEDED;
}

.dis-course-card a.dis-course-thumbnail img {
    width: 100%;
}

.dis-course-card a {
    text-decoration: none;
}

.dis-course-card a h4 {
    margin: 5px 11px;
    color: #2B354E;
    font-family: Inter;
    font-size: 17.843px;
    font-weight: 500;
    line-height: 25.774px;
    font-style: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 91px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.dis-course-card .dis-course-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 11px;
    border-top: 1px solid #EDEDED;
}

.dis-course-card .dis-course-info p {
    display: flex;
    align-items: center;
    gap: 9px;
    color: #2B354E;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
}

.dis-course-card .dis-course-bottom {
    background-color: #FDF0DE;
    margin: 5px 11px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dis-course-card .dis-course-bottom h6 {
    margin: 0;
}

.dis-course-card .dis-course-bottom h6 del {
    color: #B1B1B1;
    font-family: Inter;
    font-size: 22px;
    font-weight: 400;
}

.dis-course-card .dis-course-bottom h6 ins {
    color: #7A8F3C;
    font-family: Inter;
    font-size: 40px;
    font-weight: 700;
}

.dis-course-card .dis-course-bottom h5.dis-course-btn {
    margin: 0;
    height: 50px;
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F5A033;
}

.dis-course-card .dis-course-bottom h5.dis-course-btn a {
    color: #FFFFFF;
    font-family: Inter;
    font-size: 13.878px;
    font-weight: 500;
    line-height: 20.817px;
    text-decoration: none;
    font-style: normal;
}

.dis-cat:hover {
    text-decoration: underline;
}

.dis-tab-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    justify-items: center;
    margin-top: 40px;
}

.dis-tab-nav {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
}

.dis-tab-cat {
    display: flex;
    gap: 16px;
    align-items: center;
}

.dis-tab-nav .nav-tabs {
    border: 0;
    width: 100%;
    display: flex !important;
    justify-content: space-between !important;
}

.dis-tab-header .nav-tabs>li {
    margin: 0 auto !important;
}

.dis-tab-header .nav-tabs>li>a {
    margin: 0px 25px 15px 0px;
    padding: 11px 25px;
    border: none;
    color: #2B354E;
    background-color: #e8e7d55d;
    font-family: "Sen";
    font-size: 18px;
    font-weight: 400;
}

.dis-tab-header .nav-tabs>li.active>a,
.dis-tab-header .nav-tabs>li.active>a:focus,
.dis-tab-header .nav-tabs>li.active>a:hover {
    border: 0;
    cursor: pointer;
    color: #fff;
    background: #8FA05D;
}

.dis-tab-header .nav-tabs>li:last-child>a {
    margin: 0;
}

.dis-tab-nav select#dis-cat {
    cursor: pointer;
    height: 49px;
    padding: 11px 45px;
    background-color: transparent;
    box-shadow: none;
    border: none;
    color: #3f3b52;
    font-family: "Inter";
    font-size: 18px;
    font-weight: 400;
    background-color: #e8e7d55d;
    background-image: url("https://cambridgeopenacademy.com/wp-content/uploads/2024/01/Frame-1000004232.svg");
    background-repeat: no-repeat;
    background-position: 95% 50%;
    background-size: auto 14px;
}


/* ```````````````````` 
    Media Queries started
````````````````````` */
@media (max-width: 991.98px) {
    .dis-tab-container {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .dis-tab-nav {
        justify-content: center;
    }

    .dis-tab-header .nav-tabs>li>a {
        margin: 0px 5px;
    }

    .dis-tab-nav .nav-tabs {
        border: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 15px 0;
    }
}

@media (max-width: 1245px) {
    .dis-tab-header .nav-tabs>li>a {
        margin: 0px 15px 15px 0px !important;
        padding: 11px 15px !important;
        font-size: 16px !important;
    }

    .dis-tab-nav select#dis-cat {
        font-size: 16px;
    }
}

@media screen and (max-width:768px) {
    .nav-tabs>li {
        width: auto !important;
        border-bottom: none;
    }
}

/* ```````````````````` 
    Media Queries ended
```````````````````` */