@media (max-width: 1037px) {
    .dis-course-card .dis-course-bottom h6 del {
        font-size: 17px;
    }

    .dis-course-card .dis-course-bottom h6 ins {
        font-size: 23px;
    }

    .dis-course-card .dis-course-info p {
        gap: 5px;
        font-size: 15px;
    }
}

@media (min-width: 565px) and (max-width: 1037px) {
    .dis-course-card a h4 {
        font-size: 15px;
    }

    .dis-course-card .dis-course-bottom h5.dis-course-btn {
        height: 25px;
        width: 77px;
    }

    .dis-course-card .dis-course-bottom h5.dis-course-btn a {
        font-size: 12px;
    }
}
