.dis-blog-slider-card {
    margin: 45px;

    max-width: 345px;
    padding: 7px;


    h4 {
        color: #2B354E;
        font-family: Inter;
        font-size: 17.843px;
        font-weight: 500;
        line-height: 25.774px;
    }

    p {
        color: #2B354E;
        font-family: Inter;
        font-size: 13.878px;
        font-weight: 400;
        line-height: 23.791px;
    }
}